[data-layout="page-single"] {
  container-type: inline-size;
  container-name: page-single;
  display: grid;
  grid-template-columns: 1fr;
  min-height: var(--layout-min-height);
}

[data-layout="page-with-sidebar"] {
  display: grid;
  grid-template-columns: var(--page-layout-sidebar-width) 1fr;
  min-height: var(--layout-min-height);
}

[data-layout="page-with-aside"] {
  display: grid;
  grid-template-columns: 1fr var(--page-layout-aside-width);
  min-height: var(--layout-min-height);
}

[data-layout="page-sidebar-and-aside"] {
  display: grid;
  grid-template-columns: var(--page-layout-sidebar-width) 1fr var(--page-layout-aside-width);
  min-height: var(--layout-min-height);
}

[data-layout^="page"] [data-layout-region="sidebar"] {
  border-right: var(--page-layout-sidebar-border);
  background: var(--page-layout-sidebar-bg);
  padding: var(--page-layout-sidebar-padding);
  overflow-y: auto;
}

[data-layout^="page"] [data-layout-region="main"] {
  padding: var(--page-layout-content-padding);
  overflow-y: auto;
}

[data-layout^="page"] [data-layout-region="aside"] {
  border-left: var(--page-layout-aside-border);
  background: var(--page-layout-aside-bg);
  padding: var(--page-layout-aside-padding);
  overflow-y: auto;
}
