[data-rs-layout][data-rs-component="Section"] {
  container-type: inline-size;
  container-name: section;
  display: flex;
  flex-direction: column;
  gap: var(--layout-region-gap);
  padding: var(--layout-region-padding);
  background: var(--layout-bg);
}

[data-rs-layout][data-rs-component="Section"] [data-rs-region="header"] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--page-header-padding-bottom);
  border-bottom: var(--page-header-border);
}

[data-rs-layout][data-rs-component="Section"] [data-rs-region="content"] {
  flex: 1;
}

[data-rs-layout][data-rs-component="Section"] [data-rs-region="footer"] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: var(--block-footer-padding);
  border-top: var(--block-footer-border);
  gap: var(--block-footer-gap);
}
